<div id="container">
  <h1 id="title">SpaceX Launches</h1>
  <h3>Select a row to view full details and media coverage.</h3>
  <mat-label class="labels">Sort By</mat-label>
  <select id="selector" [(ngModel)]="sortBy" (change)="onSetSortBy()">
    <option *ngFor="let option of sortByOptions" value={{option.value}}>{{option.name}}</option>
  </select>
  <table #launchesTable mat-table [dataSource]="launches">
    <ng-container matColumnDef="flight_number">
      <th mat-header-cell *matHeaderCellDef> Flight Number </th>
      <td mat-cell *matCellDef="let launch"> {{launch.flight_number}} </td>
    </ng-container>
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Year </th>
      <td mat-cell *matCellDef="let launch"> {{getYear(launch.date_utc)}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let launch"> {{launch.name}} </td>
    </ng-container>
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let launch"> {{shortenDetails(launch.details)}} </td>
    </ng-container>
    <tr mat-header-row id="header-row" *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row id="table-row" *matRowDef="let row; columns: columnsToDisplay" (click)="handleRowClick(row)"></tr>
  </table>
  <div id="page-button-container">
    <button id="prev-button" [disabled]="!hasPreviousPage" (click)="previousPage()">&#8592; Previous Page</button>
    <p class="labels">Page {{page}} of {{totalPages}}</p>
    <button id="next-button" [disabled]="!hasNextPage" (click)="nextPage()">Next Page &#8594;</button>
  </div>
</div>
