@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: "Montserrat", sans-serif;
}

#container {
  overflow-y: scroll;
  height: 100%;
  padding: 1rem;
  padding-top: .75rem;
}

#title {
  font: 44px 'Copperplate';
}

button {
  background-color: cornflowerblue;
  border-radius: .5rem;
  color: white;
  cursor: pointer;
  font: 16px "Montserrat", sans-serif;
  padding: .5rem;
}